*{
    margin:0;
    padding: 0;
    font-family: 'Caveat', cursive;

  
  }



#header
{
height:100vh;
background-image: url(/assets/Picture4\ -\ Copy.jpg) ;
background-position:center;
background-size:cover;
text-align:justify;

}


img
{
width: 250px;
  /* height: 150px; */
  margin-right: 300px;  
  margin-bottom: 400px; 
  border: 2px solid rgb(15, 2, 11);


}

h3
{
  text-align: justify;
  font-size:larger;
  width: 50%;
 
  padding: 10px;
  
}
.container 
{
  width: 60%;
  display:inline-flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  flex-wrap:nowrap;
  margin:50px;
  padding: 10px;
  text-align: center;
  line-break:inherit;
  margin-top: 100px;
  margin-left: 10px;
  


}



.logo
{
margin-top: 30px;
width: 350px ;
border: 4px solid rgb(44, 11, 187)  ;
}



.header-text
{
    max-width: 350px;
    margin-top: 10px; 
    text-align: center;
}

h1
{
font-size:30px;

}

.square
{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 10px 0;
}

.navbar {
    width: 100%;
    overflow:auto;

    
    
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font: bold;
  
 
  
  }
  
  .navbar a:hover {
    background-color: #f67c92;
 
   
   
  }
  

  .active 
  {
    background-color:plum;}

  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;}}



      
      .flip-box {
        background-color: transparent;
        border: 1px solid #141313;
        perspective: 1000px;
        text-align: justify;

       
      }
      
      .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
  
      }
      
      .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
      }
      
      .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-box-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-box-back {
        background-color: #555;
        color:black;
        align-items: center;
        transform: rotateY(180deg);
        text-align: center;
      }